annotated-types==0.7.0
anyio==4.6.2.post1
certifi==2023.7.22
charset-normalizer==3.3.0
comtypes==1.2.0
et-xmlfile==1.1.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.4
jdcal==1.4.1
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.3.10
langchain-ollama==0.2.0
langsmith==0.1.135
numpy==1.25.2
ollama==0.3.3
opencv-python==4.8.1.78
openpyexcel==2.5.14
openpyxl==3.1.2
orjson==3.10.7
packaging==24.1
pandas==2.1.0
PyAudio==0.2.13
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pygame==2.5.2
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
sniffio==1.3.1
SpeechRecognition==3.10.0
telegram==0.0.1
tenacity==8.5.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.7
